@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to our Library</h1>

In this page you can find the latest books and authors.

<textarea name="Finder" class="MainFinder">Введите книгу сюда</textarea>
<button class="btn btn-primary" @onclick="SearchBooks">Найти</button>

@code {

    // FIXME: Нужно будет реализовать поиск книг через запрос к серверу по API
    void SearchBooks()
    {
        Console.WriteLine($"Searching books for: {"Красавица и чудовище"}");
    }
}