@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to our Library</h1>

In this page you can find the latest books and authors.

<textarea name="Finder" class="MainFinder">Введите книгу сюда</textarea>
